@import url("https://use.typekit.net/phe5bnn.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}
*/

@font-face {
  font-family: 'montserrat';
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: montserrat, Arial, Helvetica, sans-serif;
}